

<%= video_tag("//dh7awlc6834tn.cloudfront.net/Turbo-Rails-Teaser-Vid.mp4",
              controls: true,
              autoplay: :autoplay,
              playsinline: true,
              loop: true,
              style: "width: 90%",
              'data-video-target' => 'element')
%>



<br />

Click "play" button control above, then...

<h1>
<%= link_to "Let's go >>>>>", checkout_path %>
</h1>